<!DOCTYPE html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="referrer" content="no-referrer">
        <link rel="stylesheet" type="text/css" href="https://airgradient.veronneau.org/static/css/style.css" />
        <link rel="icon" sizes="16x16 32x32 64x64" href="https://airgradient.veronneau.org/static/favicon.ico">
        <meta name="viewport" content="width=device-width" />

    <title>Mesures de qualité de l'air dans l'appartement</title>
</head>

<div id="container">
        <div id="header">
          <div id="title"><a href="/">Mesures de qualité de l'air dans l'appartement</a></div>
        </div>
        <div id="body">
        {% block content %}
        {% endblock %}
        </div>
        <div id="footer">
          <div class="footer-content">© 2024 Louis-Philippe Véronneau. Données sous license <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>. Code source disponible <a href="https://gitlab.com/baldurmen/r-gradient/">ici</a></div>
        </div>

</div>

</html>
