{% extends "base.html.j2" %}
{% block content %}
<div id="content">
  <div id="article">
    <h1 class="subtitle" style="background-color: {{ color }}">{{ name }}: {{ value }} {{ unit }}</h1>
    <h2>6 dernières heures</h2>
      <a href="graphs/{{ var }}/6h.png">
        <img src="graphs/{{ var }}/6h.png" style="width: 100%;" title="Six dernières heures" alt="Six dernières heures">
      </a>
    <h2>24 dernières heures</h2>
      <a href="graphs/{{ var }}/1d.png">
        <img src="graphs/{{ var }}/1d.png" style="width: 100%;" title="24 dernières heures" alt="24 dernières heures">
      </a>
    <h2>Dernière semaine</h2>
      <a href="graphs/{{ var }}/1w.png">
        <img src="graphs/{{ var }}/1w.png" style="width: 100%;" title="Dernière semaine" alt="Dernière semaine">
      </a>
    <h2>Dernier mois</h2>
    <a href="graphs/{{ var }}/{{ yearmon }}.png">
      <img src="graphs/{{ var }}/{{ yearmon }}.png" style="width: 100%;" title="Dernier mois" alt="Dernier mois">
      </a>
  </div>
</div>
{% endblock %}
