{% extends "base.html.j2" %}
{% block content %}
<div id="content">
  <div id="article">
    <div class="grid-container">
      <div class="grid-button" style="background-color: #B40F20">
        <a href="/co2.html"><br>CO<sup>2</sup>: {{ co2 }}<br>&nbsp;</a>
      </div>
      <div class="grid-button" style="background-color: #0A9F9D">
        <a href="/pm2_5.html"><br>PM<sub>2.5</sub>: {{ pm2_5 }}<br>&nbsp;</a>
      </div>
      <div class="grid-button" style="background-color: #FD6467">
        <a href="/temperature.html"><br>Température: {{ temperature }} °C<br>&nbsp;</a>
      </div>
      <div class="grid-button" style="background-color: #9986A5">
        <a href="/humidity.html"><br>Humidité: {{ humidity }}%<br>&nbsp;</a>
      </div>
      <div class="grid-button" style="background-color: #F98400">
        <a href="/tvoc.html"><br>TVOC: {{ tvoc }}<br>&nbsp;</a>
      </div>
      <div class="grid-button" style="background-color: #6C8645">
        <a href="/nox.html"><br>NO<sub>x<sub>: {{ nox }}<br>&nbsp;</a>
      </div>
    </div>
    <p>Données longitudinales disponibles <a href="/airgradient.sqlite3">ici</a></p>
  </div>
</div>
{% endblock %}
